.navbar-container {
position: fixed;
  /* top: 20px;  */
  left: 50%;
  transform: translateX(-50%); /* Centrado perfecto */
  width: 95%; /* Ocupa casi todo el ancho en móviles */
  max-width: 1000px; /* Ancho máximo en pantallas grandes */
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease; /* Para efectos suaves al hacer scroll */

}

.navbar {
display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.8rem 2.5rem;
  
  /* Forma de Píldora */
  border-radius: 0px 0px 25px 25px; 
  
  /* Glassmorphism Refinado */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  /* Sombra para dar profundidad */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);


}

/* .logo span {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
} */

.nav-links {
display: flex;
  list-style: none;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  /* font-weight: 500; */
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00d2ff;
}

/* Responsivo - Menú Hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

@media (max-width: 768px) {

.navbar-container {
position: fixed;
  width: 100%; /* Ocupa casi todo el ancho en móviles */

}

.navbar {
    justify-content: flex-end; 
  border-radius: 0px; 
  }


  .hamburger {
    display: flex;
margin-right: 1rem;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 2rem;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    width: 200px;
    padding: 2rem;
    border-radius: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}