.about-section {
  position: relative;
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0px 20px; /* Espacio para la navbar */
}

/* El componente de partículas debe estar al fondo */
ngx-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-wrapper {
  position: relative;
  z-index: 2; /* Por encima de las partículas */
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 1100px;
  width: 100%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05); /* Efecto cristal muy sutil */
  backdrop-filter: blur(5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.photo-frame {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #00d2ff;
  box-shadow: 0 0 20px rgba(0, 210, 255, 0.5);
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  flex: 1;
  color: white;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  background: linear-gradient(90deg, #fff, #00d2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #e0e0e0;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  color: white;
  transition: transform 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.social-icon:hover {
  color: #00d2ff;
  transform: translateY(-5px);
}

/* Responsivo */
@media (max-width: 768px) {

.about-section {
  padding: 80px 20px;
}
  .content-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .photo-frame {
    width: 200px;
    height: 200px;
  }

  .social-links {
    justify-content: center;
  }
}