.experience-section {
  padding: 100px 20px;
  background-color: #0d0d0d;
  /* Fondo de malla sutil para contrastar con los puntos de la sección anterior */
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 5;
}

.timeline-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
  background: linear-gradient(to bottom, #fff 0%, #353535 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Estilo de la fecha (Lado del Timeline) */
.timeline-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #929292;
}

.year {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}

.months {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Tarjeta de Experiencia (Efecto Glass) */
.experience-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
  border-color: #00d2ff;
}

.role {
  color: #00d2ff;
  font-size: 1.5rem;
  margin: 0;
}

.company {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  opacity: 0.8;
}

.activities-list {
  list-style: none;
  padding: 0;
  color: #ccc;
}

.activities-list li {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.5rem;
}

.activities-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: #00d2ff;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.tech-badge {
  background: rgba(0, 210, 255, 0.1);
  color: #00d2ff;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 0.75rem;
  border: 1px solid rgba(0, 210, 255, 0.3);
}

/* Ajustes para móviles */
@media (max-width: 768px) {
     .experience-section {
  padding: 10px 0px;
  }
  .section-title {
    font-size: 2.5rem;
  }
  
  .year {
    font-size: 1.8rem;
  }

  .experience-card {
    padding: 1.5rem;
    /* margin-right:0.7rem;
    margin-left:0.7rem; */
  }
     ::ng-deep .om-timeline-entry.left-side{
     margin-right:0.9rem;
     }

     ::ng-deep .om-timeline-entry.right-side{
     margin-left:0.9rem;
     }

  /* .left-side .experience-card {
    margin-right:0.7rem;
    margin-left:0.7rem;
  } */

}
