<section id="cursos" class="courses-section">
  <om-fade direction="down">
    <h1 class="section-title">{{tituloSeccion}}</h1>
  </om-fade>

  <div class="courses-grid">
    @for (curso of cursos; track curso.nombreCurso) {
    <om-fade direction="up">
      <div class="course-card">

        <div class="badge-container">
          @if (curso.estaCompletado && curso.enlaceCertificacion) {
          <a [href]="curso.enlaceCertificacion" target="_blank" class="badge-link" title="Ver certificación">
            <img [src]="curso.pathIcono" [alt]="curso.nombreCurso" class="badge-img clickable">
          </a>
          } @else {
          <img [src]="curso.pathIcono" [alt]="curso.nombreCurso" class="badge-img">
          }
        </div>

        <div class="course-info">
          <h3 class="course-name">{{ curso.nombreCurso }}</h3>
          <span class="status-label"
            [ngClass]="{'en-curso': !curso.estaCompletado , 'certificado': curso.estaCompletado}">
            {{ curso.estado }}
          </span>
        </div>
      </div>
    </om-fade>
    }
  </div>
</section>