<om-vortex [waveAmount]="3" styleClass="grid-proyectos">
     <!-- <om-dark-veil> -->
     <section id="proyectos" class="projects-section">
          <om-fade direction="down">
               <h1 class="section-title">{{tituloSeccion}}</h1>
          </om-fade>

          <div class="projects-grid">
               @for (p of proyectos; track p.nombreProyecto) {
               <om-fade direction="up">
                    <app-proyecto-card [proyecto]="p"></app-proyecto-card>
               </om-fade>
               }
          </div>
     </section>
     <!-- </om-dark-veil> -->
</om-vortex>