@if (portfolioData$ | async; as data) {

<app-about-me-component [userData]="data.ABOUT_ME"></app-about-me-component>

<app-eventos-component [eventos]="data.EVENTS.lista"></app-eventos-component>

<app-experiencia [experiencias]="data.EXPERIENCE.lista"></app-experiencia>

<app-habilidades [habilidades]="data.SKILLS.lista"></app-habilidades>

<app-cursos [cursos]="data.COURSES.lista"></app-cursos>

<app-proyectos [proyectos]="data.PROJECTS.lista"></app-proyectos>

<app-footer [datosFooter]="data.FOOTER"></app-footer>
} @else {
<div class="loading-shimmer">Cargando...</div>
}