<footer id="contacto" class="footer-section">
     <div class="footer-container">

          <div class="globe-wrapper">
               @if (showGlobe) {
               <om-three-globe [globeConfig]="{
                    globeColor: '#11263f',
                    autoRotateSpeed: 0.8,
                    manualRotate: false
               }" [arcAndRingColors]="['#ff6b6b', '#f06595', '#faa2c1']" [globeSize]="'620px'">
               </om-three-globe>
               }
          </div>

          <div class="cta-content">
               <h2 class="cta-title">{{datosFooter!.titulo}}</h2>
               <p class="cta-subtitle">
                    {{datosFooter!.descripcion}}
               </p>

               <div class="contact-methods">
                    @for (red of datosFooter!.redes; track red.nombre) {
                    <a [href]="red.link" target="_blank" class="contact-card">
                         <ng-icon [name]="red.pathIcono" size="1.8rem"></ng-icon>
                         <span>{{ red.nombre }}</span>
                    </a>
                    }
               </div>
          </div>

     </div>

     <div class="footer-bottom">
          <p>© {{ currentYear }} - Luiggy Tamayo</p>
     </div>
</footer>